header{
    padding: 22px 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu{
        ul{
            display: flex;
            align-items: center;
            list-style-type: none;
            gap: 50px;
            li{
                position: relative;
                svg{
                    width: 17px;
                    height: 12px;
                }
                a{
                    color: rgba(31, 46, 53, 0.8);
                    text-decoration: none;
                }
                .hidden{
                    position: absolute;
                    left: 0;
                    transform: translate(-25%, 0%);
                    top: 25px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    max-height: 0;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                }
            }
        }
    }
    .management{
        display: flex;
        align-items: center;
        gap: 24px;
        color: #30444E;
    }
    .menuButton{
        display: none;
        button{
            width: 50px;
            height: 50px;
            background: transparent;
            border: none;
            position: relative;
            span{
                position: absolute;
                width: 25px;
                height: 3px;
                background: #EE4248;
                content: '';
                top: 25px;
                left: 30%;
                &:nth-child(2){
                    top: 18px;
                    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
                &:nth-child(3){
                    top:32px;
                    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
            }
        }
        &.active{
            button{
                span{
                    &:nth-child(2){
                        top: 25px;
                        transform: rotate(45deg);
                        transition: top 300ms, transform 300ms 300ms cubic-bezier(0,0,1,1);
                    }
                    &:nth-child(3){
                        top: 25px;
                        transform: rotate(-45deg);
                        transition: top 300ms, transform 300ms 300ms cubic-bezier(0,0,1,1);
                    }
                    &:nth-child(1){
                        background: rgba(255, 255, 255, 0); 
                    }
                }
            }
        }
    }
}

@media(max-width: 1200px){
    header{
        .menu{
            ul{
                gap: 25px;
            }
        }
    }
}

@media(max-width: 768px){
    header{
        .menu{
            ul{
                display: none;
            }
        }
        .menuButton{
            display: block;
        }
    }
}

@media(max-width: 650px){
    header .management{
        gap: 10px;
        font-size: 14px;
    }
}